<div class="fly-header layui-bg-black" id="h" align="right">
    <!-- 未登录状态 -->
    <ul th:if="${session.currentUser == null}" class="layui-nav fly-nav-user">
        <li class="layui-nav-item">
            <a href="javascript:login()">登录</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:register()">注册</a>
        </li>
    </ul>


    <!-- 登录后的状态 -->
    <ul th:if="${session.currentUser != null}" class="layui-nav fly-nav-user">
        <li id="loginLi" class="layui-nav-item" style="height: 65px;">
            <a class="fly-nav-avatar">
                <cite class="layui-hide-xs" th:utext="${session.currentUser.userName}">...</cite>
            </a>
            <dl>
                <dd><a href="/" style="color: red"><i class="layui-icon"
                                                      style="margin-left: 2px;font-size: 22px;color:black">&#xe68e;</i>我的主页</a>
                </dd>
                <dd><a href="/buttons" style="color: red"><i class="layui-icon"
                                                             style="margin-left: 2px;color:black;font-size: 22px;">&#xe620;</i>档位设置</a>
                </dd>
                <!--                <dd><a href="/default" style="color: red"><i class="layui-icon" style="margin-left: 2px;color:black;font-size: 22px;">&#xe612;</i>自由设置</a> </dd>-->
                <dd><a href="/location" style="color: red"><i class="layui-icon"
                                                              style="margin-left: 2px;color:black;font-size: 22px;">&#xe715;</i>设备位置</a>
                </dd>
                <dd><a href="/xinxi" style="color: red"><i class="layui-icon"
                                                             style="margin-left: 2px;color:black;font-size: 22px;">&#xe63c;</i>设备信息</a>
                </dd>
                <dd><a href="/dianliang" style="color: red"><i class="layui-icon"
                                                                 style="margin-left: 2px;color:black;font-size: 22px;">&#xe631;</i>电量管理</a>
                </dd>
                <dd><a href="/gongdan/list" style="color: red"><i class="layui-icon"
                                                               style="margin-left: 2px;color:black;font-size: 22px;">&#xe655;</i>派工单管理</a>
                </dd>
               <!-- <dd><a href="/toDianLiang" style="color: red"><i class="layui-icon"
                                                                 style="margin-left: 2px;color:black;font-size: 22px;">&#xe631;</i>电量管理</a>
                </dd>-->
                <!--<dd><a href="/toZheXian" style="color: red"><i class="layui-icon" style="margin-left: 2px;color:black;font-size: 22px;">&#xe612;</i>折线图</a> </dd>-->
                <dd><a href="javascript:userLogout()" style="text-align: center;color: red">退出</a></dd>
            </dl>
        </li>

    </ul>

</div>