<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>智能照明-后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/fsLayui/css/fs.css?v=1.8.2" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <!--引入图标-->
    <link rel="shortcut icon" href="/static/foreground/images/logomin.png" type="imge/x-icon">
    <!--引入layui.css-->
    <link rel="stylesheet" href="/static/foreground/layui/css/layui.css">
    <!--引入global.css-->
    <link rel="stylesheet" href="/static/foreground/css/global.css">
    <!--引入js-->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/foreground/layui/layui.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/button.js"></script>
</head>
<body>
<img style="margin:20px" width="800" height="400" src="https://api.map.baidu.com/staticimage/v2?ak=OFluelPjpmdE1eeEkXDHK5ulHilNaKTq&width=512&height=512&zoom=11&scale=1&center=${jingdu},${weidu}"/>
</body>
</html>




