<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>智能照明-后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/fsLayui/css/fs.css?v=1.8.2" media="all"/>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <!--引入图标-->
    <link rel="shortcut icon" href="/static/foreground/images/logomin.png" type="imge/x-icon">
    <!--引入layui.css-->
    <link rel="stylesheet" href="/static/foreground/layui/css/layui.css">
    <!--引入global.css-->
    <link rel="stylesheet" href="/static/foreground/css/global.css">
    <!--引入js-->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/foreground/layui/layui.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/button.js"></script>
</head>
<body>
<div th:replace="header::#h"></div>
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show" style="text-align: center;">
        <fieldset class="layui-elem-field layui-field-title layui-content">
            <legend>设备信息</legend>
        </fieldset>
        <div class="ht-box layui-bg-blue">
            <p>强度信息</p>
            <p th:text="${strength}"></p>
            <p th:text="${messageStr}"></p>
        </div>
        <div class="ht-box layui-bg-red">
            <p>频率信息</p>
            <p th:text="${frequency}"></p>
            <p th:text="${messageFre}"></p>
        </div>
        <div class="ht-box layui-bg-orange">
            <p>用电量</p>
            <p th:text=100>kW·h</p>
        </div>
        <div class="ht-box layui-bg-green">
            <p>温度</p>
            <p th:text=30>℃</p>
        </div>
        <div class="ht-box layui-bg-cyan">
            <p>温度</p>
            <p th:text=45>%RH</p>
        </div>
    </div>
</div>
</body>
</html>